.shoppingEndPayment {
  text-align: center;
  padding: 20px 10px;
  color: #a58484;
  mix-blend-mode: exclusion;
}

.titleNM {
  font-weight: 700;
  color: #08f3d6;
}

.titleUM {
  font-weight: 700;
  color: #0434f7;
}
