.payment-method [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: inherit;
}

.payment-method [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: none;
}

.payment-method [type="radio"]:checked + span:not(.lever):before {
  top: -6px;
  left: 25px;
  width: 12px;
  height: 22px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.payment-method [type="radio"]:checked + span:not(.lever):before {
  top: -5px;
  left: -5px;
  border-right: 2px solid #d86264;
  border-bottom: 2px solid #d86264;
}

.payment-method [type="radio"] + span:not(.lever):before, [type="radio"]:not(.filled-in) + span:not(.lever):after {
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s;
}

.payment-method [type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
  border: none;
}
